# Project 2: Initial exploration and data visualization
*University of Ljubljana, Faculty for computer and information science* <br />
*Course: Introduction to data science, 2021-2022*

Vito Zalo≈ænik

This notebook will provide help for working with data when I couldn't do it in R.

## Environment setup

Write instructions how to setup the environment to run this notebook, which libraries are installed, etc. Also provide installation sources.

- conda create --name project_2
- conda activate project_2
- conda install python=3.7
- conda install jupyter notebook
- ipython kernel install --name project_2 --user
- conda install pandas
- conda install numpy
- conda install matplotlib
- conda install scipy
- conda install seaborn

In [44]:
# Load all the libraries needed for running the code chunks below
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import scipy.stats as stats
import matplotlib.dates as mdates
import seaborn as sns
from matplotlib.pyplot import figure
import os
import sys
import time
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap
from datetime import datetime

In [2]:
def add_header():
    """ads header to every event csv file"""
    arr = os.listdir("events")
    col = ["Date", "Event", "ID", "Event_count"]
    for file_name in arr:
        if file_name == "AllEvents.csv":
            pass
        elif file_name == 'NewDatasourcesAdded.csv':
            df = pd.read_csv("events/NewDatasourcesAdded.csv", skiprows=1)
            df.columns = col
            df["Date"] = pd.to_datetime(df["Date"])
            df.to_csv("events/" + file_name, index=False)
        else:
            df = pd.read_csv("events/" + file_name)
            df.columns = col
            df["Date"] = pd.to_datetime(df["Date"])
            df.to_csv("events/" + file_name, index=False)
    print("Done!")

Call function below everytime you get new data.

In [11]:

add_header() #call function that adds header and clean some typos in data.

In [3]:
df = pd.read_csv("signups\SignupsAttributes.csv")
df.corr()

,$distinct_id,$properties.space_id,$properties.is_agency,$properties.had_trial,$properties.is_activated,$properties.has_mobile_company,$properties.sessions_company,$properties.databoards_company,$properties.cloud_sources_company,$properties.metrics_company,$properties.users_in_space,$properties.scheduled_snapshots_company,$properties.custom_queries_company,$properties.scripts_company
$distinct_id,1.000000,1.000000,-0.015631,-0.026635,-0.047689,-0.081925,-0.065452,-0.011746,-0.034459,-0.084718,-0.030067,-0.008903,-0.017628,-0.018644
$properties.space_id,1.000000,1.000000,-0.015631,-0.026635,-0.047689,-0.081925,-0.065452,-0.011746,-0.034459,-0.084718,-0.030067,-0.008903,-0.017628,-0.018644
$properties.is_agency,-0.015631,-0.015631,1.000000,0.030149,0.136357,0.031270,0.048586,0.114746,0.149513,0.088963,0.070843,0.018808,0.016956,0.027366
$properties.had_trial,-0.026635,-0.026635,0.030149,1.000000,0.319975,0.165967,0.228773,0.297752,0.315616,0.146615,0.242537,0.102841,0.146195,0.128831
$properties.is_activated,-0.047689,-0.047689,0.136357,0.319975,1.000000,0.159587,0.153867,0.328539,0.412992,0.392323,0.165366,0.110130,0.067053,0.058881
$properties.has_mobile_company,-0.081925,-0.081925,0.031270,0.165967,0.159587,1.000000,0.296427,0.226276,0.224092,0.173724,0.247263,0.124229,0.115244,0.103573
$properties.sessions_company,-0.065452,-0.065452,0.048586,0.228773,0.153867,0.296427,1.000000,0.515171,0.441458,0.317287,0.583222,0.244615,0.462233,0.439021
$properties.databoards_company,-0.011746,-0.011746,0.114746,0.297752,0.328539,0.226276,0.515171,1.000000,0.775133,0.359801,0.550160,0.297482,0.482279,0.424702
$properties.cloud_sources_company,-0.034459,-0.034459,0.149513,0.315616,0.412992,0.224092,0.441458,0.775133,1.000000,0.361670,0.472383,0.248448,0.310019,0.302025
$properties.metrics_company,-0.084718,-0.084718,0.088963,0.146615,0.392323,0.173724,0.317287,0.359801,0.361670,1.000000,0.274651,0.164252,0.315099,0.255668
$properties.users_in_space,-0.030067,-0.030067,0.070843,0.242537,0.165366,0.247263,0.583222,0.550160,0.472383,0.274651,1.000000,0.228522,0.351632,0.299037
$properties.scheduled_snapshots_company,-0.008903,-0.008903,0.018808,0.102841,0.110130,0.124229,0.244615,0.297482,0.248448,0.164252,0.228522,1.000000,0.204987,0.183957
$properties.custom_queries_company,-0.017628,-0.017628,0.016956,0.146195,0.067053,0.115244,0.462233,0.482279,0.310019,0.315099,0.351632,0.204987,1.000000,0.567306
$properties.scripts_company,-0.018644,-0.018644,0.027366,0.128831,0.058881,0.103573,0.439021,0.424702,0.302025,0.255668,0.299037,0.183957,0.567306,1.000000

Now run whole Plot1.R and then Project-2.Rmd.

### Visualization 2

`RUN THIS AS WAS WRITTEN IN PROJECT-2-DEMO.RMD`

In [4]:
trial_features = pd.read_csv("trial_features.csv")
trial_features.head()
t_f = list(trial_features.x)
t_f = [t.split("; ") for t in t_f]
c = []
for t in t_f:
    if t[0] == " ":
        c.append(t[1:])
    else:
        c.append(t)
t_f = c

result = sum(t_f, [])

print(set(result))



d = pd.DataFrame(data=result)
d.to_csv("trial_features_2.csv")




n_t_s = pd.read_csv("n_t_s.csv")
n_t_s = list(n_t_s.x)
print(len(n_t_s))
n_t_s = [t.split("; ") for t in n_t_s]

result = sum(n_t_s, [])
d = pd.DataFrame(data=result)
d.to_csv("n_trial_features_2.csv")

#GO BACK TO R 

#t_f

{'Premium Data Sources', 'More Databoards', 'More Data Sources', 'Data Calculations', 'Query Builder'}
14689

### Visualization 3

`RUN THIS AS WAT WRITTEN IN PROJECT-2-DEMO.RMD`

In [2]:
time_series = pd.read_csv("time_series.csv")

time_series.head()

,Unnamed: 0,company_created,became_paying,became_pql,cancelled
0,3,2019-12-01T17:24:00,2020-02-09T22:49:00,2019-12-02T18:05:00,NaN
1,12,2020-01-03T12:35:00,2020-02-10T10:27:00,2020-03-18T14:06:00,NaN
2,43,2020-02-06T03:38:00,2020-03-01T23:05:00,2020-06-23T14:43:00,NaN
3,68,2020-03-25T20:54:00,2020-04-11T18:30:00,2020-03-27T04:05:00,2020-06-11T18:30:00
4,73,2020-03-31T20:52:00,2020-11-06T23:36:00,2020-07-15T10:14:00,NaN

In [3]:

import math
from math import nan
bec_paying = list(time_series["became_paying"])
bec_paying = [pd.to_datetime(t.split("T")[0]) for t in bec_paying]
bec_pql = list(time_series["became_pql"])
bec_ccl = list(time_series["cancelled"])
CC = pd.to_datetime(list(time_series["company_created"]))

became_paying = [e.toordinal() for e in bec_paying]
#became_paying #dnevi od zaceto placevati

In [4]:
CC

DatetimeIndex(['2019-12-01 17:24:00', '2020-01-03 12:35:00',
               '2020-02-06 03:38:00', '2020-03-25 20:54:00',
               '2020-03-31 20:52:00', '2020-04-10 19:08:00',
               '2020-04-22 03:46:00', '2020-04-23 15:27:00',
               '2020-05-12 14:21:00', '2020-05-27 10:59:00',
               ...
               '2020-02-28 16:22:00', '2020-05-13 06:03:00',
               '2020-06-11 00:15:00', '2020-06-26 11:12:00',
               '2020-12-28 12:43:00', '2021-02-03 13:02:00',
               '2021-05-12 11:29:00', '2021-07-16 04:26:00',
               '2021-10-07 09:07:00', '2021-11-02 15:19:00'],
              dtype='datetime64[ns]', length=2950, freq=None)

In [5]:
b_pql = []
i = 0
for e in bec_pql:
    if type(e) == str:
        
        b_pql.append(pd.to_datetime(e.split("T")[0]))
    else:        
        b_pql.append(nan)
    i=i+1
    #print(i)
    
b_canc = []
for e in bec_ccl:
    if type(e) == str:
        b_canc.append(pd.to_datetime(e.split("T")[0]))
    else:        
        b_canc.append(nan)

In [7]:
cc = []  #dnevi odkar je firma prisla v sistem
for c in CC:
    try:
        cc.append(c.toordinal())
    except:
        print(c)
        
b_p = [] #dnevi odkar firma v pql
for c in b_pql:
    try:
        b_p.append(c.toordinal())
    except:
        
        b_p.append(c)
        

c_p = [] #dnevi odkar cancel
for c in b_canc:
    try:
        c_p.append(c.toordinal())
    except:
        c_p.append(c)
        #print(c)
        
max_C = max(cc)

In [29]:
#print(max_C)
#cc

#B = [ i / (max_C - j + 1) for i,j in zip(b_p, cc)]
#A = [ i / (max_C - j + 1) for i,j in zip(c_p, cc)]

#print(B[0])
#print(b_p[0])
#cc[0]

In [9]:
#datum: bec_paying, odkar kreirano, paying, pql, cencel: cc,  became_paying, b_p,   c_p
time_series.head()

,Unnamed: 0,company_created,became_paying,became_pql,cancelled
0,3,2019-12-01T17:24:00,2020-02-09T22:49:00,2019-12-02T18:05:00,NaN
1,12,2020-01-03T12:35:00,2020-02-10T10:27:00,2020-03-18T14:06:00,NaN
2,43,2020-02-06T03:38:00,2020-03-01T23:05:00,2020-06-23T14:43:00,NaN
3,68,2020-03-25T20:54:00,2020-04-11T18:30:00,2020-03-27T04:05:00,2020-06-11T18:30:00
4,73,2020-03-31T20:52:00,2020-11-06T23:36:00,2020-07-15T10:14:00,NaN

In [68]:
z1 = list(zip(cc, became_paying)) #paying
z2 = list(zip(cc, b_p)) #pql
z3 = list(zip(cc, c_p)) #cancelled

c1 = [] #paying od created
c2 = [] #pql od created
c3 = [] #cencelled od created

c = bec_paying

for (e1,e2) in z1:
    c1.append(e2 - e1) 

    
for (e1,e2) in z2:
    if e2 == nan:
        c2.append(e2)
    else:
        c2.append(e2 - e1)

for (e1,e2) in z3:
    if e2 == nan:
        c3.append(e2)
    else:
        c3.append(e2 - e1)
        

days_paying = len(CC)*["Days_paying"]
days_pql = len(CC)*["Days_pql"]
days_cancelled = len(CC)*["Days_cencelled"]

real_date = CC[0].strftime('%Y-%m-%d')
real_date = [c.strftime('%Y-%m-%d') for c in CC]
real_date



#normalizing. scale is unitary and equal in all 3 parameters so, ratios would be ok but this will get better results.

M = max(cc)

A = [i/ (M - j + 1) for i,j in zip(c1,cc)] #paying
B = [i/ (M - j + 1) for i,j in zip(c2,cc)]  #pql
C = [i/ (M - j + 1) for i,j in zip(c3,cc)] #cancelled

c1 = A
c2 = B
c3 = C


days = real_date + real_date + real_date
version = days_paying + days_pql + days_cancelled
value = c1 + c2 + c3

In [69]:
#dict = {'name': nme, 'degree': deg, 'score': scr} 
C = {"Date":days, "Version":version,"Days_since" :value}
dataframe = pd.DataFrame(C)

In [70]:
dataframe.head()

         Date      Version  Days_since
0  2019-12-01  Days_paying    0.097765
1  2020-01-03  Days_paying    0.055637
2  2020-02-06  Days_paying    0.036980
3  2020-03-25  Days_paying    0.028286
4  2020-03-31  Days_paying    0.369748

In [71]:
dataframe.to_csv("time_series_1.csv")

GO BACK TO R NOTEBOOK!!

In [178]:
time_series.head()

,Unnamed: 0,company_created,became_paying,became_pql,cancelled
0,3,2019-12-01T17:24:00,2020-02-09T22:49:00,2019-12-02T18:05:00,NaN
1,12,2020-01-03T12:35:00,2020-02-10T10:27:00,2020-03-18T14:06:00,NaN
2,43,2020-02-06T03:38:00,2020-03-01T23:05:00,2020-06-23T14:43:00,NaN
3,68,2020-03-25T20:54:00,2020-04-11T18:30:00,2020-03-27T04:05:00,2020-06-11T18:30:00
4,73,2020-03-31T20:52:00,2020-11-06T23:36:00,2020-07-15T10:14:00,NaN

In [74]:
###some statistics
print("Mean ", np.nanmean(c1), np.nanmean(c2), np.nanmean(c3)) 
print("Median ",np.nanmedian(c1), np.nanmedian(c2), np.nanmedian(c3)) 
print("STD ",np.nanstd(c1), np.nanstd(c2), np.nanstd(c3))

Mean  0.20439185894208542 0.10209127904044993 0.51085531336809
Median  0.10416524496898605 0.030303030303030304 0.48459143931545223
STD  0.24627887930102507 0.16996065370943825 0.29418243007253003

0.10416524496898605 0.030303030303030304 0.48459143931545223

0.24627887930102507 0.16996065370943825 0.29418243007253003